<% provide(:title, "O nas") %>
<div class="row">
  <h1 class="center main-title">O nas</h1>
  <div class="col-sm-6 col-sm-offset-3">

      <p class="mainpages-typo"><strong>KGO</strong> to platforma dedykowana częściom ostrokołowym - powstała z myślą o uporządkowaniu bałaganu jaki powstał na innych stronach związanych z tym tematem. Zależy nam na przejrzystym dostępie do wyszukiwanych przedmiotów, oraz staramy się aby prezentowane ogłoszenia były zawsze aktualne oraz spełniały nasze standardy jakości. Uzyskujemy to dzięki bazie godnych zaufania sprzedawców oraz ciągłej moderacji zamieszczanych ogłoszeń.</p>

        <p class="mainpages-typo last">Dołącz do nas abyśmy wspólnie mogli rozwijać naszą społeczność. Sprawmy razem aby wyszukiwanie części nie było już tak męczącym doświadczeniem.</p>

    
  </div>
</div>
