<% provide(:title, "O nas") %>
<div class="row">
  <h1 class="center main-title line">O nas</h1>
  <div class="col-sm-6 col-sm-offset-3">

      <p class="mainpages-typo"><strong>KGO</strong> to platforma dedykowana częściom ostrokołowym - powstała z myślą o uporządkowaniu bałaganu jaki powstał na innych stronach związanych z tym tematem, chcemy skończyć z przeglądaniem i wrzucaniem ogłoszeń na dziesiątki grup i serwisów aukcyjnych. Zależy nam na przejrzystym dostępie do wyszukiwanych przedmiotów, oraz staramy się aby prezentowane ogłoszenia były zawsze aktualne.</p>

        <p class="mainpages-typo last">Dołącz do nas abyśmy wspólnie mogli stworzyć jedno miejsce, w którym znajdziemy potrzebne nam rzeczy. Sprawmy razem aby wyszukiwanie części nie było już tak męczącym doświadczeniem.</p>

    
  </div>
</div>
