<% provide(:title, "FAQ") %>
<h1 class="center main-titles">FAQ</h1>

<div class="row">
  <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    
    <div class="panel panel-default panel-square">
      <div class="panel-heading">
        <h3 class="panel-title">Jak założyć konto?</h3>
      </div> 
      <div class="panel-body">
        <ul class="faq-content">
          <li>Aby zarejestrować się jako sprzedawca musisz otrzymać zaproszenie od aktualnego użytkownika.</li>
          <li>Nie musisz posiadać konta, żeby skontaktować się ze sprzedającym – wystarczy wejść na stronę przedmiotu i wysłać maila przez formularz kontaktowy.</li>
          <li>Po rejestracji otrzymasz maila z linkiem aktywacyjnym, który musisz odwiedzić, aby Twoje konto zostało aktywowane.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default panel-square">
      <div class="panel-heading">
        <h3 class="panel-title">Jak wystawić ogłoszenie?</h3>
      </div>
      <div class="panel-body">
        <ul class="faq-content">
          <li>Aby wystawić ogłoszenie musisz posiadać Paktywne konto sprzedawcy.</li>
          <li>Formularz ogłoszeń znajduje się w prawym rogu paska nawigacyjnego.</li>
          <li>Ogłoszenia są moderowane – jeżeli nie posiadają odpowiedniego opisu lub zdjęcia zostaną usunięte lub edytowane bez wiedzy wystawiającego.</li>
          <li>Jeżeli chcesz, w opisie możesz podać dodatkowe dane kontaktowe (numer telefonu, profil facebook).</li>
          <li>Po sprzedaniu przedmiotu pamiętaj o usunięciu ogłoszenia.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default panel-square">
      <div class="panel-heading">
        <h3 class="panel-title">Jak kupić przedmiot?</h3>
      </div>
      <div class="panel-body">
        <ul class="faq-content">
          <li>Wejdź w interesujące Cię ogłoszenie.</li>
          <li>Na samym dole ramki z podstawowymi danymi znajduje się link do formularza kontaktowego.</li>
          <li>Sprzedający otrzyma e-mail z Twoimi danymi kontaktowymi.</li>
          <li>Reszta komunikacji i ustaleń dotyczących transakcji odbywa się poprzez Wasze e-maile.</li>
          <li>KGO nie jest stroną transakcji i nie ma na nią wpływu.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default panel-square last">
      <div class="panel-heading">
        <h3 class="panel-title">Jak mogę pomóc?</h3>
      </div>
      <div class="panel-body">
        <p>Jeżeli chcesz pomóc w rozwoju serwisu możesz to zrobić w następujący sposób:</p>
        <ul class="faq-content">
          <li>Jeżeli znasz RoR, Ruby, SASS, HTML, CoffeeScript, inne technologie webowe, czy zajmujesz się UX, możesz pomóc w rozwijaniu i utrzymaniu platformy (niezbędna będzie jednak znajomość systemu kontroli wersji Git).</li>
          <li>Zawsze przydadzą nam się osoby do bieżącej moderacji ogłoszeń.</li>
          <li>Jeżeli podoba Ci się nasza inicjatywa zapraszamy do wpłacania dotacji na bieżącą działalnośc serwisu, jej rozwój I piwo dla załogi.</li>
        </ul>
        <p><%= link_to "Skontaktuj się z nami!", kontakt_path %></p>
      </div>
    </div>
    
  </div>
</div>
