<% provide(:title, "FAQ") %>
<h1 class="center main-titles">FAQ</h1>

<div class="row">
  <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    
    <div class="panel panel-default panel-square">
      <div class="panel-heading">
        <h3 class="panel-title">Jak założyć konto?</h3>
      </div> 
      <div class="panel-body">
        <ul class="faq-content">
          <li>Aby zarejestrować się jako sprzedawca musisz otrzymać zaproszenie od aktualnego użytkownika.</li>
          <li>Nie musisz posiadać konta żeby skontaktować się ze sprzedającym – wystarczy wejść na stronę przedmiotu i wysłać maila przez formularz kontaktowy.</li>
          <li>Po rejestracji otrzymasz maila z linkiem aktywacyjnym, który musisz odwiedzić, aby Twoje konto zostało aktywowane.</li>
          <li>W celu zwiększenia dostępnych możliwości komunikacji z Tobą, podczas rejestracji oprócz e-maila możesz również podać link do swojego profilu fb, który będzie widoczny na Twoim profilu i przy Twoich ogłoszeniach.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default panel-square">
      <div class="panel-heading">
        <h3 class="panel-title">Jak wystawić ogłoszenie?</h3>
      </div>
      <div class="panel-body">
        <ul class="faq-content">
          <li>Aby wystawić ogłoszenie musisz posiadać aktywne konto sprzedawcy.</li>
          <li>Link do formularza nowego ogłoszenia znajduje się w prawej części paska nawigacyjnego.</li>
          <li>Ogłoszenia są moderowane – jeżeli nie posiadają odpowiedniego opisu lub zdjęcia zostaną usunięte lub edytowane bez informowania wystawiającego.</li>
          <li>Ze względu na ograniczenia miejsca na serwerze możesz wgrać tylko jedno zdjęcie, natomiast masz możliwość podania linku do zewnętrznej galerii zdjęć (np. imgur) oraz linku do ogłoszenia na fb.</li>
          <li>Jeżeli chcesz, w opisie możesz podać dodatkowe dane kontaktowe.</li>
          <li>Po sprzedaniu przedmiotu pamiętaj o usunięciu ogłoszenia.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default panel-square">
      <div class="panel-heading">
        <h3 class="panel-title">Jak kupić przedmiot?</h3>
      </div>
      <div class="panel-body">
        <ul class="faq-content">
          <li>Wejdź w interesujące Cię ogłoszenie.</li>
          <li>Na samym dole ramki z podstawowymi danymi znajduje się link do formularza kontaktowego.</li>
          <li>Reszta komunikacji i ustaleń dotyczących transakcji odbywa się poprzez Wasze e-maile.</li>
          <li>Pamiętaj, że KGO nie jest stroną transakcji i nie ma na nią wpływu.</li>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default panel-square last">
      <div class="panel-heading">
        <h3 class="panel-title">Jak mogę pomóc?</h3>
      </div>
      <div class="panel-body">
        <ul class="faq-content">
          <li>Zauważyłeś błąd na stronie? Napisz proszę z opisem problemu, informacją o przeglądarce, z której korystasz i najlepiej chociaż przybliżoną godziną i datą zdarzenia.</li>
          <li>Jeżeli znasz RoR, Ruby, SASS, HTML, CoffeeScript, inne technologie webowe, czy zajmujesz się UX, możesz pomóc w rozwijaniu i utrzymaniu platformy (niezbędna będzie jednak znajomość systemu kontroli wersji Git).</li>
          <li>Zawsze przydadzą nam się osoby do bieżącej moderacji ogłoszeń.</li>
        </ul>
        <p class="center"><strong><%= link_to "Skontaktuj się z nami!", kontakt_path %></strong></p>
      </div>
    </div>
    
  </div>
</div>
