<div class="jumbotron">
  <div id="wrapper">
    <h1>Wszystkie części w jednym miejsu!</h1>
    <p>Dowiedz się jak korzystać z KGO i ułatw sobie poszukiwanie szpeju.</p>
    <p><%= link_to "Dowiedz się więcej", o_nas_path, :class => 
"btn btn-primary btn-lg, guzik_home" %>    </p>
  </div>
</div>
