<div class="jumbotron">
  <div id="wrapper">
    <h1>Koleżeńska Giełda Ostrokołowa</h1>
    <p>Zaufani sprzedawcy, najlepszy asortyment, wszystko w jednym miejscu i brak opłat - dowiedz się jak korzystać z KGO i ułatw sobie poszukiwanie szpeju.</p>
    <p><%= link_to "Dowiedz się więcej", o_nas_path, :class => 
"btn btn-primary btn-lg, guzik_home" %>    </p>
  </div>
</div>
