<div class="jumbotron">
  <div id="wrapper">
    <h1>Koleżeńska Giełda Ostrokołowa</h1>
    <p class="tight">Wszystkie ogłoszenia w jednym miejscu, zaufani sprzedawcy, 
      najlepszy asortyment, brak opłat - dowiedz się jak korzystać z KGO, 
      pomóż rozwijać społeczność i ułatw sobie i innym poszukiwanie części.</p>
    <p><%= link_to "Dowiedz się więcej", faq_path, :class => 
"btn btn-primary btn-lg, guzik_home" %>    </p>
  </div>
</div>
