<%= provide(:title, "Zasady Użytkowania") %>

<h1 class="center main-title line">Zasady Użytkowania</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">


        <ul class="regulamin">
          <li>Strona ma charakter informacyjny – nie odpowiadamy za przedmioty wystawione w ogłoszeniach.</li>
          <li>Twórcy nie czerpią żadnych korzyści materialnych związanych z działanością portalu, platforma ma charakter non-profit.</li>
          <li>KGO nie jest pośrednikiem płatności – sposób realizacji transakcji ustalany jest pomiędzy stronami zawierającymi umowę bez udziału właściciela portalu.</li>
          <li>KGO nie jest odpowiedzialne za sposób dostarczenia przedmiotu.</li>
          <li>Portal nie przechowuje dokładnych danych osobowych sprzedających, a jedynie informacje niezbędne do nawiązania kontaktu poprzez e-mail I odpowiednią kategoryzację przedmiotu.
</li>
          <li>Dane sprzedających w związku z powyższym punktem nie są weryfikowane.</li>
          <li>Wszelkie spory wynikające z problemów z dostawą lub zgodnością towaru z opisem muszą być rozwiązane bez udziału właściciela serwisu, na linii sprzedający – kupujący.</li>
          <li>Rejestrując się w KGO użytkownik wyraża zgodę na otrzymywanie maili związanych z działaniem serwisu.</li>
          <li>Serwis ma na celu budowę pozytywnego wizerunku firmy <%= link_to 'Steiner Piotr Kaczmarczyk', 'http://steinerstore.pl' %></li>
          <li class="last">Ogłoszenia są moderowane i mogą zostać bez uprzedzenia edytowane lub usunięte.</li>
        </ul>


  </div>
</div>