<%= provide(:title, "Zasady Użytkowania") %>

<h1 class="center">Zasady Użytkowania</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default onas">
      <div class="panel-body">
        <ul class="regulamin">
          <li>Strona ma charakter informacyjny – nie odpowiadamy za przedmioty wystawione w ogłoszeniach.</li>
          <li>Twórcy nie czerpią żadnych korzyści materialnych związanych z działanością portalu, platforma ma charakter non-profit.</li>
          <li>KGO nie jest pośrednikiem płatności – sposób realizacji transakcji ustalany jest pomiędzy stronami zawierającymi umowę bez udziału właściciela portalu.</li>
          <li>KGO nie jest odpowiedzialne za sposób dostarczenia przedmiotu.</li>
          <li>Portal nie przechowuje dokładnych danych osobowych sprzedających, a jedynie informacje niezbędne do nawiązania kontaktu poprzez e-mail I odpowiednią kategoryzację przedmiotu.
</li>
          <li>Dane sprzedających w związku z powyższym punktem nie są weryfikowane.</li>
          <li>Wszelkie spory wynikające z problemów z dostawą lub zgodnością towaru z opisem muszą być rozwiązane bez udziału włąściciela serwisu, na linii sprzedający – kupujący.</li>
          <li>Rejestrując się w KGO użytkownik wyraża zgodę na otrzymywanie maili związanych z działaniem serwisu.</li>
        </ul>
      </div>
    </div>
  </div>
</div>