<h4>Hej,</h4>
<br>
<p>Zostałeś zaproszony przez <%= @user.username %> do dołączenia do KGO jako sprzedawca! Odwiedź <%= link_to 'www.kagieo.pl/rejestracja', 'http://www.kagieo.pl/rejestracja' %>, załóż konto i wystawiaj swoje części!</p>
<br>
Pozdrawiamy<br>
KGO