<% provide(:title, "Rejestracja") %>

<h1 class="center">Rejestracja</h1>

<div class="row">
  
  <p class="center tight" id="info_reg">Pamiętaj, że konto 
    służy jedynie do tworzenia ogłoszeń,
    a żeby je założyć musisz otrzymać zaproszenie. 
    <%= link_to "Dowiedz się więcej!", faq_path %></p>
  
  <%= render 'shared/userform' %>
  
  <div class="col-md-6 col-md-offset-3">    
    <p class="center", id="reg_eula"><small>Założenie konta jest równoznaczne z akceptacją 
      <%= link_to "zasad użytkowania", zasady_uzytkowania_path %></small></p>
  </div>
  
</div>
