<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
  <div class="modal-dialog" id="modal-img-dialog" role="document">

        <%= cl_image_tag @advert.picture, id: 'modal-img' %>
 
  </div>
</div>