<div class="row">
  
  <h5 class="center">Jaki rodzaj przedmiotu chcesz wystawić?</h5>   

  <div class="col-sm-6 col-sm-offset-4">

    <%= link_to "Rower", '#', remote: true %>

  </div>
    
</div>