<% provide(:title, "Nowe Ogłoszenie") %>

<h1 class="center">Dodaj nowe ogłoszenie</h1>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        <strong>Pamiętaj, że:</strong>
      </div>
      <div class="panel-body">        
          - Zdjęcie zostanie automatycznie przycięte, więc warto zachować marginesy.<br>
          - W opisie warto zawrzeć inne ważne wymiary, oprócz tych wymaganych. <br>
          - Tytuł w miniaturce zostanie skrócony do 4 słów.
      </div>
    </div>
    
  </div>
</div>

<%= render 'newcategory' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2" id="main_form">
  </div>
</div>
