<% provide(:title, "Nowe Ogłoszenie") %>

<h1 class="center">Dodaj nowe ogłoszenie</h1>

<%= render 'newcategory' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2" id="main_form">
  
  </div>
</div>
