<% provide(:title, "Nowe Ogłoszenie") %>

<h1 class="center">Dodaj nowe ogłoszenie</h1>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        <strong>Pamiętaj, że:</strong>
      </div>
      <div class="panel-body">
        <ul>
        <li> Zdjęcie zostanie automatycznie zeskalowane (maksymalny rozmiar to 1000x1000).</li>
        <li>Miniaturka zdjęcia ma wymiary 350x300, więc unikaj wgrywania
          zdjęć panoramicznych.</li>
          <li>W opisie warto zawrzeć inne ważne wymiary, oprócz tych wymaganych.</li>
          <li>Tytuł w miniaturce zostanie skrócony do 4 słów.</li>
        </ul>
      </div>
    </div>
    
  </div>
</div>

<%= render 'newcategory' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2" id="main_form">
  </div>
</div>
