@import "bootstrap-sprockets"
@import "bootstrap"

$gray-light: #d8d8d8

/* GLOBAL */
  
body
  padding-top: 70px
  
.navbar
  background-color: #00ff92
  
  a
    color: white
    
  .btn
    background-color: #5dffba
    
  .form-control
    border-radius: 0%
    boder-color: #00f28a 
    

.btn
  border-radius: 0%
  background-color: #00ff92
  border-color: #00f28a    
  &:hover
    background-color: #00e382
    border-color: #00dd7e
    
/* FOOTER */

  
footer
  text-align: center
  
  .container-fluid
    border-top: 1px solid $gray-light
    
  ul
    list-style: none
    float: right
  
  li
    display: inline
    padding: 10px
    
/* HOME */

.jumbotron
  position: relative
  text-align: center
  color: white
  background-image: image-url("#")
  background-position: center
  background-repeat: no-repeat
  height: 500px
  
  #wrapper
    position: absolute
    marigin: 0
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    

        
  
  
  