<footer class="footer">
  <div class="container-fluid">
    <small>
    <ul class="navbar-text navbar-right">
      <li><%= link_to "O nas", o_nas_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
      <li><%= link_to "Pomoc", pomoc_path %></li>
    </ul>
    </small>
  </div>
</footer>