<footer class="footer">
  <div class="container-fluid">
    <small>
    <p class="navbar-text navbar-left">Created by <a href="http://steinerstore.pl/portfolio/index.html">Piotr Kaczmarczyk</a></p>
    <ul class="nav nav-pills navbar-right">
      <li>O nas</li>
      <li>Kontakt</li>
      <li>Pomoc</li>
    </ul>
    </small>
  </div>
</footer>